/owldrop
/bin
.env
/result
*.exe
.task
web/node_modules
web/dist
build/linux/appimage/build
build/linux/appimage/owldrop
build/linux/appimage/owldrop.png
build/darwin/icons.icns
build/darwin/Assets.car
build/windows/icon.ico
build/linux/appimage/owldrop.desktop
build/ios
.dev.vars
